@model TrainingProject.Models.Topic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Topic Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicName)
        </dd>

        <dt>
            Topic Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicDescription)
        </dd>

        <dt>
            Course
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            Trainer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.TrainerName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
